<!-- user will get to know about the company -->
<h2>About Omozan</h2>
<p>Omazan is the largest online classified ads company.It facilitates buying and selling services and goods.
Payments between buyer and seller are made offline, so omozan does not have to deal with varying payment infrastructure availability in each of its markets</p>
