<div class="jumbotron">
  <h1>Omozan</h1>
  <div class="bar">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <div class="home">
        <li>{{#link-to 'index'}}<button class="btn btn-default">HOME</button>{{/link-to}}</li>
        </div>
        <div class="about">
        <li>{{#link-to 'about'}}<button class="btn btn-default">ABOUT</button>{{/link-to}}</li>
       </div>
       <div class="contact">
        <li>{{#link-to 'contact'}}<button class="btn btn-default">CONTACT</button>{{/link-to}}</li>
        </div>
      </ul>

    </div>
  </nav>
</div>
</div>




<!-- <hr>
<footer>
  <div class="jumbotron">
    <div class="col-md-4">
      <h2>About us</h2>
    </div>
  </div>
</footer> -->
{{outlet}}
