<h1> Examples of what we offer</h1>
<div class="container">
<div class="row">
<div class="col-md-4">
<div class="shape">
    <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
    <div class="details">
        <span class="heading">Perfumes</span>
        <hr>
        <p>Have a glance for the best and most used perfumes</p>
        <a href="http://www.scents.co.ke/designer-perfumes.html" class="button">VIEW</a>
    </div>
    <div class="bg"></div>
    <div class="base">
        <img src="https://financesonline.com/uploads/clive.jpg" alt="Perfumes" height="304" width="304">
    </div>
</div>
</div>

<div class="col-md-4">
<div class="shape">
    <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
    <div class="details">
        <span class="heading">Hats</span>
        <hr>
        <p>Have a glance for the best stylish hats</p>
        <a href="https://www.shopsplash.com/accessories/hats/kenya-sand-matador-hat.html" class="button">VIEW</a>
    </div>
    <div class="bg"></div>
    <div class="base">
        <img src="https://s3-us-west-2.amazonaws.com/optimo-hats-static/img/httpoptimohatscomadminsitesdefaultfilesimageshatstop-hat-black-0796png.png" alt="Hats" height="304" width="304">
    </div>
</div>
</div>

<div class="col-md-4">
<div class="shape">
    <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
    <div class="details">
        <span class="heading">Suits</span>
        <hr>
        <p>Have a glance for the best stylish tuxidos</p>
        <a href="http://www.menswearhouse.com/mens-suits/suit-tuxedos" class="button">VIEW</a>
    </div>
    <div class="bg"></div>
    <div class="base">
        <img src="http://paulphillipsformalwear.com/wp-content/uploads/2012/10/2014-tuxedo-1-380X400.jpg" alt="Hats" height="304" width="304">
    </div>
</div>
</div>
</div>
<div class="row1">
  <div class="col-md-4">
  <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
          <span class="heading">Briefcases</span>
          <hr>
          <p>Have a glance for the best elegant briefcases</p>
          <a href="https://buffalojackson.com/catalog/category/view/id/46/?__country=KE" class="button">VIEW</a>
      </div>
      <div class="bg"></div>
      <div class="base">
          <img src="http://www.bagswish.com/649/briefcase-bag-for-men-coffee-leather-computer-bag.jpg" alt="Briefcases" height="304" width="304">
      </div>
  </div>
  </div>
</div>
<div class="row1">
  <div class="col-md-4">
  <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
          <span class="heading">Wines and liqur</span>
          <hr>
          <p>Have a glance for the best and mouthwatering liqurs</p>
          <a href="https://www.kwal.co.ke/" class="button">VIEW</a>
      </div>
      <div class="bg"></div>
      <div class="base">
          <img src="https://reservebar.global.ssl.fastly.net/media//catalog/category/Category-Header-Tablet-Johnnie-Walker.jpg" alt="Wines and liqur" height="304" width="304">
      </div>
  </div>
  </div>
</div>
<div class="row1">
  <div class="col-md-4">
  <div class="shape">
      <a href="{URL}" class="overlay {round|hexagon|pentagon}"></a>
      <div class="details">
          <span class="heading">Porshe cars</span>
          <hr>
          <p>Have a glance for the beast machines</p>
          <a href="http://www.porsche.com/middle-east/_nairobi_/aboutporsche/importers/" class="button">VIEW</a>
      </div>
      <div class="bg"></div>
      <div class="base">
          <img src="http://mecvns.com/wp-content/uploads/2017/02/classy-design-ideas-history-of-porsche-cars-porsche-rental-miami.jpg" alt="Porshe cars" height="304" width="304">
      </div>
  </div>
  </div>
</div>
</div>
